@import "ember-bootstrap-sass";
@import "mortgage";
@import "result";

$bg-color-purple: #5A57A6;
$text-color: #EEE;
body {
  .logo-row {
    margin-top: 20px;
  }
  background-color: $bg-color-purple;
  color: $text-color;
  .btn {
    margin: 50px auto;
  }
}
