@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$bg-color-purple: #5A57A6;
$bg-color-lightgreen: #45E0E5;
$text-color: #EEE;
.title-section {
  background-color: $bg-color-purple;
  .mc-title {
    color: $text-color;
    font-family: 'Raleway';
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.5em;
  }
  .mc-subtitle {
    color: $text-color;
    font-family: 'Roboto';
  }
}
.form-section-number {
  border: solid 2px $bg-color-lightgreen;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 46px;
  text-align:center;
  margin-left: 20px;
}
.form-section-title {
  line-height: 46px;
  text-transform: uppercase;
}
