<!-- <div class="container row logo-row">
  <div class="col-xs-12">
    <img src="http://placehold.it/70x50">
    <span>easy mortgage</span>
  </div>
</div> -->
<div class="container">
  <div class="title-section jumbotron">
    <h2 class="mc-title">Mortgage Calculator</h2>
    <p class="mc-subtitle">
      Within just a few seconds, we can tell you how much you will be allowed to borrow
    </p>
    <p style="display: none;">
      Simply enter the price of your home, your down payment, and details about the home loan to calculate your mortgage payment breakdown, schedule and more.
    </p>
  </div>
</div>
{{outlet}}
