<div class="container">
  <form class="" action="index.html" method="post">
    <div class="row container">
      <div class="row">
        <div class="col-xs-4 form-section-number">1</div>
        <div class="col-xs-8 text-center form-section-title">Your information</div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="grossMonthlyHouseholdIncome">Gross Monthly Household Income</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="grossMonthlyHouseholdIncome" placeholder="Amount">
            <div class="input-group-addon">.00</div>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="monthlyDebtPayments">Monthly Debt Payments</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="monthlyDebtPayments" placeholder="Amount">
            <div class="input-group-addon">.00</div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row container">
      <div class="row">
        <div class="col-xs-4 form-section-number">2</div>
        <div class="col-xs-8 text-center form-section-title">Home you want to buy</div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="monthlyPropertyTaxes">Expected Monthly Property Taxes</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="monthlyPropertyTaxes" placeholder="Amount">
            <div class="input-group-addon">.00</div>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="monthlyCondominiumFees">Expected Monthly Condominium Fees</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="monthlyCondominiumFees" placeholder="Amount">
            <div class="input-group-addon">.00</div>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="monthlyHeatingCosts">Expected Monthly Heating Costs</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="monthlyHeatingCosts" placeholder="Amount">
            <div class="input-group-addon">.00</div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row container">
      <div class="row">
        <div class="col-xs-4 form-section-number">3</div>
        <div class="col-xs-8 text-center form-section-title">Perhaps you don't need a Mortgage Loan, let's find out!</div>
      </div>
      <div class="row">
        <div class="form-group col-xs-12">
          <label for="downPayment">Down Payment</label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" id="downPayment" placeholder="Amount" aria-describedby="helpBlock">
            <div class="input-group-addon">.00</div>
          </div>
          <span id="helpBlock" class="help-block">Amount not financed by mortgage loan. Insurance is required when this value is under 20%.</span>
        </div>
        <div class="form-group col-xs-12">
          <label for="mortgageInterestRate">Mortgage Interest Rate</label>
          <div class="input-group">
            <input type="text" class="form-control" id="mortgageInterestRate" placeholder="rate">
            <div class="input-group-addon">%</div>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="amortization">Amortization</label>
          <div class="input-group">
            <input type="text" class="form-control" id="amortization" placeholder="15 to 25 years">
            <div class="input-group-addon">years</div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    {{#link-to 'result'}}
    <button type="button" class="btn btn-block btn-success">Calculate</button>
    {{/link-to}}
  </form>
</div>
