<div class="container">
  <p>YOUR INFORMATION</p>
  <hr>
  <div class="row">
    <div class="col-xs-9">Gross Monthly Household</div>
    <div class="col-xs-3">$2134</div>
  </div>
  <div class="row">
    <div class="col-xs-9">Monthly Debt Payments</div>
    <div class="col-xs-3">$135</div>
  </div>

  <p class="section-header">HOME YOU WANT TO BUY</p>
  <hr>
  <div class="row">
    <div class="col-xs-9">Monthly Property Taxes</div>
    <div class="col-xs-3">$95</div>
  </div>
  <div class="row">
    <div class="col-xs-9">Monthly Condominium Fees</div>
    <div class="col-xs-3">$139</div>
  </div>
  <div class="row">
    <div class="col-xs-9">Monthly Heating Costs</div>
    <div class="col-xs-3">$106</div>
  </div>
  {{#link-to 'mortgage'}}
  <button type="button" class="btn btn-block btn-primary">Back to the calculator</button>
  {{/link-to}}
</div>
